<%= render 'layouts/flash_messages' %>

<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="">目的達成アプリ<br>anchor link</h1>
    <h2 class="">anchor link(アンカーリンク)とは？<br>説明説明説明説明説明説明説明説明</h2>
    <div class="">
      <div class="">
        <%= link_to '始めてみる',new_user_registration_path, class: 'btn btn-secondary' %>
      </div>
      <div class="">
        <div>メリット１</div>
        <h3>説明説明説明説明説明説明説明</h3>
        <div>メリット2</div>
        <h3>説明説明説明説明説明説明説明</h3>
        <div>メリット１</div>
        <h3>説明説明説明説明説明説明説明</h3>
        <%= link_to '始めてみる',new_user_registration_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>