<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h2 class="">ご登録ありがとうございます！</h2>
    <div class="row justify-content-center">
      <div class="">
        <%= link_to '目的に参加',participants_category_path, class: 'btn btn-secondary' %>
      </div>
      <div class="">
        <%= link_to '目的を作る',new_purpose_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>


