<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert" id="value">
    <%= value %>
  </div>
<% end %>

<script>
  $(function(){
    $(".alert").fadeOut(5000);
  });
</script>